.header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

  h2 {
    cursor: pointer;
  }

  h2, p {
    margin: 0;
    padding: 0;
  }
}
