<div *ngIf="apiLoaded$ | async"  class="map-container">
  <google-map
    #googleMap
    [center]="{lat: locationCoordsLatitude, lng: locationCoordsLongitude}"
    [options]="{disableDefaultUI: true, fullscreenControl: true, styles: mapsOptions}"
    width="100vw"
    height="95vh"
    [zoom]="15"
    class="full-screen-map"
  >
  <!-- <map-directions-renderer></map-directions-renderer> -->

  <ng-container *ngFor="let markerInfo of markers; index as i">
    <map-marker #marker="mapMarker"
      [position]="markerInfo.position"
      [options]="markerOptions"
      (mapClick)="openInfoWindow(marker, infoWindow)"
    >
    </map-marker>
    <map-info-window #infoWindow="mapInfoWindow" >
      <div class="marker-info">
        <h4>{{ markerInfo.name }}</h4>
        <ng-container *ngIf="markerInfo.donation">
          <p>{{ markerInfo.donation.description }}</p>
          <img  [src]="mcImage" alt="">
          <div class="button-container" *ngIf="markerInfo.donation.imageName">
            <button mat-raised-button color="primary" class="take-button" (click)="takeDonation(markerInfo.name, markerInfo.position)">Take</button>
          </div>
        </ng-container>
      </div>
    </map-info-window>
  </ng-container>
  <map-marker [position]="userLocation" [options]="markerOptions" [icon]="iconUrl"></map-marker>
  </google-map>
</div>
