<div *ngIf="apiLoaded$ | async"  class="map-container">
  <google-map
    [center]="{lat: locationCoordsLatitude, lng: locationCoordsLongitude}"
    [options]="{disableDefaultUI: true, fullscreenControl: true, styles: mapsOptions}"
    width="100vw"
    height="100vh"
    [zoom]="15"
    class="full-screen-map"
  >

  <ng-container *ngFor="let markerInfo of markers; index as i">
    <map-marker #marker="mapMarker"
      [position]="markerInfo.position"
      [options]="markerOptions"
      (mapClick)="openInfoWindow(marker, infoWindow)"
    >
    </map-marker>
    <map-info-window #infoWindow="mapInfoWindow" >
      <div class="marker-info">
        <h4>{{ markerInfo.name }}</h4>
        <ng-container *ngIf="markerInfo.donation">
          <p>{{ markerInfo.donation.description }}</p>
          <img  [src]="'../../../assets/images/' + markerInfo.donation.imageName" alt="">
        </ng-container>
        <ng-container>
          <map-marker [position]="userLocation" [options]="markerOptions"></map-marker>
        </ng-container>
      </div>
    </map-info-window>
  </ng-container>
  </google-map>
</div>
