<div class="home-page">
  <div class="container">
    <div class="category" id="donorCategory">
        <h2>Make an impact</h2>
        <img src="../../../assets/images/donorr.jpg" alt="Donor Image">
        <button class="main-btn" id="donorButton" routerLink="/donor" routerLinkActive="active" ariaCurrentWhenActive="page">
            Donate food
        </button>
    </div>
    <div class="category" id="beneficiaryCategory">
        <h2>For Beneficiaries</h2>
        <img src="../../../assets/images/beneficiarr.jpg" alt="Beneficiary Image">
        <button class="main-btn" id="beneficiaryButton" routerLink="/map" routerLinkActive="active" ariaCurrentWhenActive="page">
           Food Court
        </button>
    </div>
  </div>
</div>
