<div class="home-page">
  <div class="container">
    <div class="category" id="donorCategory">
        <h2>Donor</h2>
        <img src="../../../assets/images/donor.jpg" alt="Donor Image">
        <button class="main-btn" id="donorButton" routerLink="/donor" routerLinkActive="active" ariaCurrentWhenActive="page">
            Select Donor
        </button>
    </div>
    <div class="category" id="beneficiaryCategory">
        <h2>Beneficiary</h2>
        <img src="../../../assets/images/beneficiary.jpg" alt="Beneficiary Image">
        <button class="main-btn" id="beneficiaryButton" routerLink="/map" routerLinkActive="active" ariaCurrentWhenActive="page">
          Select Beneficiary
        </button>
    </div>
  </div>
</div>
